@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Tamamen beyaz renk */
  --background-end-rgb: 255, 255, 255;   /* Tamamen beyaz renk */
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb)); /* Arka plan tamamen beyaz */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h3 {
  font-weight: bold;
}
